ul
  each lgtm in lgtms
    li
      form(method='post' action='/lgtm/create')
        input(type='hidden' name='_csrf' value=csrf)
        input(type='hidden' name='user' value=query.user)
        input(type='hidden' name='repo' value=query.repo)
        input(type='hidden' name='number' value=query.number)
        input(type='hidden' name='hash' value=lgtm.hash)
        button(type='submit')
          img(src=lgtm.actualImageUrl)